<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610985853567-70m56aerrvpskkibubdqum4itqnud2eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610985853567-70m56aerrvpskkibubdqum4itqnud2eq</string>
	<key>API_KEY</key>
	<string>AIzaSyAkWi3it1HorAeS4tRfplhphpjXpbcDBqY</string>
	<key>GCM_SENDER_ID</key>
	<string>610985853567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlog</string>
	<key>PROJECT_ID</key>
	<string>blogapp-c36c8</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-c36c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610985853567:ios:f138846235018c8737354a</string>
	<key>DATABASE_URL</key>
	<string>https://blogapp-c36c8.firebaseio.com</string>
</dict>
</plist>